.web-header{
    height: 50%;
    width: 100%;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.home{
    border: 3px solid black;
    border-radius: 8px;
    margin: auto;
    height: 5vh;
    width: 7vw;
    background-color: green;
    font-weight: bold;
    padding: 1%;
    align-items: center;
    justify-content: center;
}

.home:hover{
    text-decoration: underline;
}

.parti{
    border: 3px solid black;
    border-radius: 8px;
    padding: 1%;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 7vw;
    background-color: green;
    font-weight: bold;
}
.parti:hover{
    text-decoration: underline;
}
.about{
    border: 3px solid black;
    border-radius: 8px;
    margin: auto;
    height: 5vh;
    width: 7vw;
    background-color: green;
    font-weight: bold;
    padding: 1%;
    align-items: center;
    justify-content: center;
}
.about:hover{
    text-decoration: underline;
}

.logout{
    border: 3px solid black;
    border-radius: 8px;
    margin: auto;
    height: 5vh;
    width: 7vw;
    background-color: green;
    font-weight: bold;
    padding: 1%;
    align-items: center;
    justify-content: center;
}
.logout:hover{
    text-decoration: underline;
}